<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>OOP's Terms Glossary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        p {color: black}
        h4{color: black}
    </style>
</head>
<body style="background-image: url('bg.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	</div>
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a class="navbar-brand" href="#">Articles For Web Development</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="p2index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutme.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Pages
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdownlink" href="Pylint%20-%20Tips%20&%20Tricks.html">Pylint</a></li>
                        <li><a class="dropdownlink" href="OOP's%20Terms%20Glossary.html">OOP's Terms Glossary</a></li>
                        <li><a class="dropdownlink" href="Testing%20-%20AAA.html">Testing - AAA</a></li>
                        <li><a class="dropdownlink" href="OOP's%20Concepts.html">OOP's Concepts</a></li>
                        <li><a class="dropdownlink" href="Calc's%20Demo.html">Calc's Demo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid padding">
    <br><br><br>
    <img  width="1050" height="500" >
    <div class="row padding">
        <div class="col-lg-11">
            <div class="body-content">
                <br>
                <h4>Object Oriented Programming Terms - Python</h4>
                <p> <br style="clear: both;" /></p>
                <p><b>Factory:-</b>  A factory is an object for creating other objects – formally a factory is a function or method that returns objects of a varying prototype or class from some method call, which is assumed to be "new"</p>
                <p><b>Instantiation:-</b>Instantiating a class is creating a copy of the class which inherits all class variables and methods. Instantiating a class in Python is simple. To instantiate a class, we simply call the class as if it were a function, passing the arguments that the __init__ method defines. The return value will be the newly created object.</p>
                <p><b>Object:-</b>An object is simply a collection of data (variables) and methods (functions) that act on those data.</p>
                <p><b>Class:-</b>A Class is like an object constructor, or a "blueprint" for creating objects.</p>
                <p><b>Namespace:-</b>A namespace is a system that has a unique name for each and every object in Python. An object might be a variable or a method. Python itself maintains a namespace in the form of a Python dictionary.</p>
                <p><b>Constructor:-</b>Constructors are generally used for instantiating an object. The task of constructors is to initialize(assign values) to the data members of the class when an object of the class is created. In Python the __init__() method is called the constructor and is always called when an object is created.</p>
                <p><b>Fixture:-</b> Fixtures are functions, which will run before each test function to which it is applied. Fixtures are used to feed some data to the tests such as database connections, URLs to test and some sort of input data.</p>
                <p><b>Type hint:-</b>Type hinting is a formal solution to statically indicate the type of a value within your Python code.Type hints improve IDEs and linters. They make it much easier to statically reason about your code. Type hints help you build and maintain a cleaner architecture. The act of writing type hints forces you to think about the types in your program.</p>
                <p><b>Type cast:-</b>Type Casting is the method to convert the variable data type into a certain data type in order to the operation required to be performed by users.</p>
                <p><b>Unit test:-</b>Unit testing is a software testing method by which individual units of source code are put under various tests to determine whether they are fit for use (Source). It determines and ascertains the quality of your code.</p>
                <p><b>Static:-</b>Static means, that the member is on a class level rather on the instance level. Static variables exist only on class level and aren't instantiated. If you change a static variable in one instance of the class, the change will affect its value in all other instances</p>
                <p><b>Class Method:-</b>A class method is a method which is bound to the class and not the object of the class. They have the access to the state of the class as it takes a class parameter that points to the class and not the object instance. It can modify a class state that would apply across all the instances of the class</p>
                <p><b>Facade:-</b>Facade is a structural design pattern that provides a simplified (but limited) interface to a complex system of classes, library or framework. While Facade decreases the overall complexity of the application, it also helps to move unwanted dependencies to one place.</p>
                <p><b>Method:-</b>In Python, a method is a function that is available for a given object because of the object's type. </p>
                <p><b>Property:-</b>Properties represent an intermediate functionality between a plain attribute (or field) and a method. In other words, they allow you to create methods that behave like attributes. With properties, you can change how you compute the target attribute whenever you need to do so.</p>
                <p><b></b></p>
                <br>
                <p>Click here to go to the next page :- <a href="Testing%20-%20AAA.html"> Testing - AAA</a></p>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
</script>
</body>
</html>